<!DOCTYPE HTML>
<html>
  <head>
    <title> GeneraBLE by reelyActive </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/reelyactive.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/generable.js"></script>
  </head>
  <body ng-app="generable">
    <div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      <div ng-controller="DisplayCtrl" class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h1> GeneraBLE <br>
              <small> Configure the peripherals below </small> </h1>
            <p>
              <a href="reel" class="btn btn-default"> reel </a> &nbsp;
              <a href="hue" class="btn btn-default"> hue </a> &nbsp;
              <a href="midi" class="btn btn-default"> midi </a> &nbsp;
              <a href="osc" class="btn btn-default"> osc </a> &nbsp;
              <a href="zyn" class="btn btn-default"> zyn </a>
            </p>
            <h1> <small> Activate a scene </small> </h1>
            <div class="btn-group" uib-dropdown>
              <button id="split-button" class="btn btn-primary"
                      type="button"> {{selectedScene}} </button>
              <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Scene Selection</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                  aria-labelledby="split-button">
                <li ng-repeat="scene in scenes" role="menuitem">
                  <a ng-click="selectedScene = scene.name" target="_blank"
                     ng-href="{{scene.url}}"> {{scene.name}} </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/generable"> GeneraBLE </a>
        &nbsp; | &nbsp;
        <a href="http://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
