<!DOCTYPE HTML>
<html>
  <head>
    <title> GeneraBLE by reelyActive </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/reelyactive.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/socket.io.slim.js"></script>
    <script type="text/javascript" src="js/osc.js"></script>
  </head>
  <body ng-app="osc">
    <div ng-controller="OscCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <a href="../" class="btn btn-primary"> Back </a>
            <hr>
            <table class="table table-hover">
              <caption> OSC INTERFACES </caption>
              <thead>
                <tr>
                  <th> &nbsp; </th>
                  <th> Address </th>
                  <th> Port </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th> Local </th>
                  <td> {{osc.interfaces.localInterface.localAddress}} </td>
                  <td> {{osc.interfaces.localInterface.localPort}} </td>
                </tr>
                <tr>
                  <th> Target </th>
                  <td> {{osc.interfaces.targetInterface.targetAddress}} </td>
                  <td> {{osc.interfaces.targetInterface.targetPort}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-md-9">
            <table class="table table-hover">
              <caption> REAL-TIME EVENT STREAM </caption>
              <thead>
                <tr>
                  <th> Address </th>
                  <th> Args[0] </th>
                  <th> Args[1] </th>
                  <th> Args[2] </th>
                  <th> Args[3] </th>
                  <th> Args[4] </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(id, event) in events">
                  <td> <tt> {{event.address}} </tt> </td>
                  <td> <tt> {{event.args[0]}} </tt> </td>
                  <td> <tt> {{event.args[1]}} </tt> </td>
                  <td> <tt> {{event.args[2]}} </tt> </td>
                  <td> <tt> {{event.args[3]}} </tt> </td>
                  <td> <tt> {{event.args[4]}} </tt> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/generable"> GeneraBLE </a>
        &nbsp; | &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017-2018
        </a>
      </footer>
    </div>
  </body>
</html>
