<!DOCTYPE HTML>
<html>
  <head>
    <title> GeneraBLE by reelyActive </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/reelyactive.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/reel.js"></script>
  </head>
  <body ng-app="reel">
    <div ng-controller="ReelCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <a href="../" class="btn btn-primary"> Back </a>
            <hr>
            <table class="table table-hover">
              <caption> REEL INTERFACE OPTIONS </caption>
              <thead>
                <tr>
                  <th> Protocol </th>
                  <th> Action </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="interface in reel.interfaces">
                  <td> {{interface.protocol}} </td>
                  <td> {{interface.selected}} </td>
                  <td>
                    <a class="btn btn-default btn-xs"
                       ng-click="selectInterface(interface.protocol)"
                       ng-hide="interface.selected"> Select </a>
                    <a class="btn btn-default btn-xs"
                       ng-click="removeInterface(interface.protocol)"
                       ng-show="interface.selected"> Remove </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <p> Currently hard-coded to expect a serial reel interface (USB). </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/generable"> GeneraBLE </a>
        &nbsp; | &nbsp;
        <a href="http://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
